body{
    background-color: rgb(254,244,218);
    margin: 5%; 
    font-family:"Open+Sans",sans-serif;
    font-size: 14pt;
    overflow-x:hidden;
}

pre{
    font-style: italic;
    /*margin-left:10%;*/
    font-size:10pt;
}

h1{
    text-align: center;
    font-size: 18pt; 
}

h2{
    text-align: center; 
    font-size: 18pt;
}

hr{
    width:68.1%;
    text-align: center;
}

p{
    text-indent: 28pt; 
    margin-top: 14pt; 
    margin-bottom: 14pt;
}
blockquote {
    width: 61.8%;
    /*justify-content: space-around;*/
    
}

.toc{
    text-indent: 40%;
    text-align: left;
    width: 61.8%;
    font-size: 12pt;
    font-style:italic;
}

tr{
    width: 61.8%;
    font-size: 12pt;
    font-style:italic;
    text-align: left;
}


tr:nth-child(0){
    display: none;
    /*opacity: 0;
    visibility: hidden;*/
}


br{
    height: 2pt;
}

div.fig {
    display:block;
    height:140;
    margin:0 auto;
    text-align:center; 
}

img{
    max-width:50%;
    max-height:50%;
}

.chapter{
    margin-top:4em;
}

a:link {color:rgb(54,40,43);}      
a:visited {color:rgb(129,92,148);}  
a:hover {color:#FF00FF;} 
a:active {color:#0000FF;}  

/*
<style type="text/css">
BODY { color: Black;
       background: White;
       margin-right: 10%;
       margin-left: 10%;
       font-family: "Times New Roman", serif;
       text-align: justify }

<PRE { font-size: small ;
       font-family: "Times New Roman", serif; }

P {text-indent: 4% }

P.noindent {text-indent: 0% }

P.poem {text-indent: 0%;
        margin-left: 10%;
        font-size: small }

P.letter {text-indent: 0%;
          font-size: small ;
          margin-left: 10% ;
          margin-right: 10% }

P.finis { text-align: center ;
          text-indent: 0% ;
          margin-left: 0% ;
          margin-right: 0% }

</style>*/

/*
<style type="text/css">

body { margin-left: 20%;
       margin-right: 20%;
       text-align: justify }

h1, h2 {text-align: center; font-style: normal; font-weight:
normal; line-height: 1.5; margin-top: .5em; margin-bottom: .5em;}

h1 {font-size: 300%;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
    letter-spacing: 0.12em;
    word-spacing: 0.2em;
    text-indent: 0em;}
h2 {font-size: 150%; margin-top: 2em; margin-bottom: 1em;}

hr {width: 80%; margin-top: 2em; margin-bottom: 2em;}

div.chapter {page-break-before: always; margin-top: 4em;}

p {text-indent: 1em;
   margin-top: 0.25em;
   margin-bottom: 0.25em; }

.p2 {margin-top: 2em;}

p.letter {text-indent: 0%;
          margin-left: 5%;
          margin-right: 5%;
          margin-top: 1em;
          margin-bottom: 1em; }

p.right {text-align: right;
         margin-right: 10%;
         margin-top: 1em;
         margin-bottom: 1em; }



a:link {color:blue; text-decoration:none}
a:visited {color:blue; text-decoration:none}
a:hover {color:red}

</style>
*/
/*

    H1,H2,H3,H4,H5,H6 { text-align: center; margin-left: 15%; margin-right: 15%; }
    .foot { margin-left: 20%; margin-right: 20%; text-align: justify; text-indent: -3em; font-size: 90%; }
   
    .mynote    {background-color: #DDE; color: #000; padding: .5em; margin-left: 10%; margin-right: 10%; font-family: sans-serif; font-size: 95%;}
    .toc       { margin-left: 10%; margin-bottom: .75em;}
    .toc2      { margin-left: 20%;}
    div.fig { display:block; margin:0 auto; text-align:center; }
    .figleft   {float: left; margin-left: 0%; margin-right: 1%;}
    .figright  {float: right; margin-right: 0%; margin-left: 1%;}
    .pagenum   {display:inline; font-size: 70%; font-style:normal;
               margin: 0; padding: 0; position: absolute; right: 1%;
               text-align: right;}*/
